{%- set ips = salt['grains.get']('fqdn_ip4', ['127.0.0.1']) -%}
{%- if ips[0] != '127.0.0.1' -%}
{{ ips[0] }}
{%- elif ips|length > 1 and ips[1] != '127.0.0.1' -%}
{{ ips[1] }}
{%- else -%}
{{ ips[0] }}
{%- endif -%}
